{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">

        <div class="mt-5 mb-4">
            Current time: {{ current_datetime }},
            Controller class: {{ class }},
            Controller method: {{ method }}
        </div>
        <a href="/">Back to home</a>
        <h1 class="mt-5 mb-4">{{ trailer.title }}</h1>
        <div class="row">
            <div class="col-3 mb-2" style="min-width: 285px;">
                <img src="{{ trailer.image }}" alt="{{ trailer.title }}"/>
            </div>
            <div class="col-6">
                <article>
                    {{ trailer.description }}</article>
                <div class="mt-3">
                    <a href="{{ trailer.link }}" target="_blank">Link to source</a><br/>
                </div>
                <div class="mt-3">
                    <a href="#" class="j-like like-button" data-id="{{ trailer.id }}"></a> <span
                            class="likes-count {% if trailer.likes == 0 %}invisible{% endif %}">(<span
                                class="likes-count-value">{{ trailer.likes }}</span>)</span>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}