{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-5 mb-4">
            Current time: {{ current_datetime }},
            Controller class: {{ class }},
            Controller method: {{ method }}
        </div>
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td><a href="/trailers/{{ trailer.id }}">{{ trailer.title }}</a></td>
                    <td class="text-center"><img src="{{ trailer.image }}" alt="{{ trailer.title }}"/></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}