<nav class="navbar navbar-dark bg-dark justify-content-end">
    <div class="alert alert-success mb-0 mr-3 pt-1 pb-1" id="success-plate" role="alert" style="display: none;">
        User logged in
    </div>
    <div class="alert alert-danger mb-0 mr-3 pt-1 pb-1" id="fail-plate" role="alert" style="display: none;">
        Wrong username or password
    </div>
    <div class="alert alert-danger mb-0 mr-3 pt-1 pb-1" id="error-plate" role="alert" style="display: none;">
        Something went wrong :(
    </div>
    {% if authorized %}
        <div class="full-name">{{ full_name }}</div>
        <div class="nav-placeholder"></div>
        <div class="avatar" style="background-image:url({{ avatar }});"></div>
        <div class="nav-placeholder"></div>
        <button type="button" class="btn btn-primary j-logout">Logout</button>
    {% else %}
        <form class="form-inline j-login-form" method="post" action="/login">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon">@</span>
                </div>
                <input type="text" class="form-control" name="login" placeholder="Username" aria-label="Username"
                       aria-describedby="basic-addon">
                <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    {% endif %}
</nav>