.like-button {
    display: inline-block;
    width: 3.1rem;
    height: 3.1rem;
    margin-right: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/Like_button.png);
}
.like-button:active {
    opacity: 0.7;
}
.likes-count {
    position: relative;
    top: -1.4rem;
    color: #007bff
}
.avatar {
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    border-radius: 50%;
}
.nav-placeholder {
    width: 1rem;
}
.full-name {
    color: #fff;
}